image: maven:3.8-openjdk-11
default:
  tags:
    - shellocal
stages:
  - test

Integration tests with Allure:
  stage: test
  script:
    - mvn clean test
    - mvn allure:report

  artifacts:
    paths:
      - build\reports\allureReports\*